.registration {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-registration {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
    font-weight: bold;
    padding: 16px;
}

.label-form {
    display: flex;
    align-items: center;
}

input, textarea, select {
    color: #930077;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px 15px;
}

.btn-form {
    grid-column: 1/3;
    justify-self: center;
}

.btn-form:hover {
    background: white;
    transition: all 0.5s;
    color: #930077;
}

